body {
    background-color: #eee;
}

.main-app {}

.main-app-menu {
    nav {
        a {
            margin: 0 1rem;
            ;
        }
    }
}

.page-container {
    margin: 1rem;
}

.bitcoin-table {
    width: 50%;
    &-header {
        cursor: pointer;
    }
}

.analyses-table {
    width: 100%;
}

.cont-scrollable {
    max-height: 30rem;
    width: 50%;
    overflow-y: scroll;
}

.sort-arrow {
    width: 10px;
    margin: 0 6px;
    display: inline-block;
}