body {
    background-color: #eee;
}

.main-app {}

.main-app-menu {
    nav {
        a {
            margin: 0 1rem;
            ;
        }
    }
}

.page-container {
    margin: 1rem;
}

.bitcoin-table {
    &-header {
        cursor: pointer;
    }
}